<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/838322d488.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="icon" href="../assets/Google_Classroom_icon.png">
    <title>Classes</title>
</head>

<body>

    <nav>

        <div class="nav-left">
            <i class="fa-solid fa-bars icon" style="color: #737373;"></i>

            <div class="google-logo">
                <img src="../assets/googlelogo.svg" alt="google logo">
                <span class="IqJTee">Classroom</span>
            </div>

        </div>
        <div class="nav-right">
            <i class="fa-solid fa-plus icon" style="color: #4f4f4f;"></i>
            <img class="icon" id="dots" src="../assets/dots-menu.png" alt="dots-menu">
            <img class="icon" id="pro-pic" src="../assets/user.png" alt="profile pic">
        </div>
    </nav>


</body>

</html>