<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/profile.css">
    <title>Classroom Settings</title>
</head>
<body>
    <div class="profile-page">
        <div class="profile-cont">
            <h2 class="profile-header">Profile</h2>
            <h3 class="profile-pic">Profile picture</h3>
            <div class="profile-pic-change">
                <div class="pic-btn-container">
                    <button class="change-btn">
                        <img src="">
                        <span>Change</span>
                    </button>
                </div>
            </div>
            <h3 class="edit-profile">Edit Profile Information</h3>
            <div class="change-as">Change your password, edit name and email. <a class="change-link" target="_blank" href="//">Manage</a></div>
        </div>
    </div>
</body>
</html>