<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/838322d488.js" crossorigin="anonymous"></script>
    <link rel="icon" href="//ssl.gstatic.com/classroom/favicon_black.png">
    <link rel="stylesheet" href="../styles/home.css">
    <title>Class title </title>
</head>

<body>

    <nav class="class-nav">
        <div class="nav-left">
            <div class="icon">
                <i class="fa-solid fa-bars " title="Menu" id="menu" style="color: #737373;"></i>
            </div>
            <div class="nav-class-title">
                <h3>Class Title </h3>
                <span> class info</span>
            </div>
        </div>
        <div class="nav-middle">
            <a href="./student_stream.html">Stream</a>
            <a href="./student_classwork.html">Classwork</a>
            <a href="./student_people.html">People</a>
        </div>
        <div class="nav-right">

            <div class="icon">
                <img id="dots" title="google apps" src="../assets/dots-menu.png" alt="dots-menu">
            </div>
            <div class="icon">
                <a href="./profile_edit.html"><img id="pro-pic" title="Profile" src="../assets/user.png"
                        alt="profile pic"></a>
            </div>
        </div>
    </nav>

    <div id="side-menu">
        <div class="menu-section">
            <a href="./student_home.html">
                <div class="menu-pages">
                    <div class="menu-titles">
                        <i class="fa-solid fa-house menu-icons" style="color: #6b6b6b;"></i>
                    </div>
                    <h4>Classes</h4>
                </div>
            </a>
            <div class="menu-pages">
                <div class="menu-titles">
                    <i class="fa-regular fa-calendar menu-icons" style="color: #636363;"></i>
                </div>
                <h4>Calendar</h4>
            </div>
        </div>
        <div class="menu-section">
            <span id="enrolled">Enrolled</span>
            <div class="menu-pages">
                <div class="menu-titles">
                    <i class="fa-solid fa-clipboard-check menu-icons" style="color: #696969;"></i>
                </div>
                <h4>To-do</h4>
            </div>
        </div>
        <div class="menu-section">
            <div class="menu-pages">
                <div class="menu-titles">
                    <i class="fa-solid fa-box-archive menu-icons" style="color: #5e5e5e;"></i>
                </div>
                <h4>Archived Classes</h4>
            </div>

            <a href="./profile_edit.html">
                <div class="menu-pages">
                    <div class="menu-titles">
                        <i class="fa-solid fa-gear menu-icons" style="color: #5e5e5e;"></i>
                    </div>
                    <h4>Settings</h4>
                </div>
            </a>
        </div>
    </div>

    <div class="stream-content">


        <div class="stream-header">
            <div class="header-text">

                <div class="header-title">
                    Class Title
                </div>
                <div class="header-info">
                    Class info
                </div>
            </div>
        </div>

        <div class="stream-body">

            <div class="stream-left">
                <div class="meet-part">
                    <div class="meet-container">

                        <div class="meet-title">
                            <div class="meet-icon-container">
                                <img src="../assets/logo_meet.png" alt="meet-logo">
                            </div>
                            <span>Meet</span>
                        </div>

                        <div class="menu-icon-container">
                            <i class="fa-solid fa-ellipsis-vertical meet-menu-icon" style="color: #434343;"></i>
                        </div>
                    </div>
                    <button class="meet-join">Join</button>
                </div>
                <div class="to-do-part">
                    <div class="to-do-title">
                        Upcoming
                    </div>
                    <ol>
                        <li class="due">
                            <h4>Due Wednesday</h4>
                            <a href="#">10:00 AM - Google_Classroom... </a>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="stream-right">
                <ol>
                    <a href="../templates/student_announcement.html">
                        <li>
                            <div class="stream-icon-title">
                                <div class="stream-icon-container">
                                    <i class="fa-solid fa-book-bookmark"></i>
                                </div>
                                <div class="announcement-content">
                                    <div class="announcement-title">First Announcement</div>
                                    <div class="announcement-date">Jul 21</div>
                                </div>
                            </div>
                            <div class="menu-icon-container">
                                <i class="fa-solid fa-ellipsis-vertical meet-menu-icon" style="color: #434343;"></i>
                            </div>
                        </li>
                    </a>
                    <a href="../templates/student_assignment.html">
                        <li>
                            <div class="stream-icon-title">
                                <div class="stream-icon-container">
                                    <i class="fa-solid fa-book-bookmark"></i>
                                </div>
                                <div class="announcement-content">
                                    <div class="announcement-title">First Assignment</div>
                                    <div class="announcement-date">Jul 21</div>
                                </div>
                            </div>
                            <div class="menu-icon-container">
                                <i class="fa-solid fa-ellipsis-vertical meet-menu-icon" style="color: #434343;"></i>
                            </div>
                        </li>
                    </a>
                </ol>
            </div>

        </div>


    </div>

    <script src="../sources/script.js"></script>
</body>

</html>