<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/838322d488.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="stylesheet" href="../styles/teacher.css">
    <link rel="icon" href="../assets/Google_Classroom_icon.png">
    <title>Classes</title>
</head>

<body>

    <nav>
        <div class="nav-left">
            <div class="icon">
                <i class="fa-solid fa-bars " title="Menu" id="menu" style="color: #737373;"></i>
            </div>
            <div class="google-logo">
                <img src="../assets/googlelogo.svg" alt="google logo">

                <span class="nav-title">Classroom</span>
            </div>
        </div>
        <div class="nav-right">
            <div class="icon" id="plus">
                <a href="#">
                    <i class="fa-solid fa-plus " title="create a class" style="color: #4f4f4f;"></i>
                </a>
            </div>
            <div class="icon">
                <img id="dots" title="google apps" src="../assets/dots-menu.png" alt="dots-menu">
            </div>
            <div class="icon">
                <a href="./profile_edit.html"><img id="pro-pic" title="Profile" src="../assets/user.png"
                        alt="profile pic"></a>
            </div>
        </div>
    </nav>

    <div id="side-menu">
        <div class="menu-section">
            <a href="./teacher_home.html">
                <div class="menu-pages">
                    <div class="menu-titles">
                        <i class="fa-solid fa-house menu-icons" style="color: #6b6b6b;"></i>
                    </div>
                    <h4>Classes</h4>
                </div>
            </a>
            <div class="menu-pages">
                <div class="menu-titles">
                    <i class="fa-regular fa-calendar menu-icons" style="color: #636363;"></i>
                </div>
                <h4>Calendar</h4>
            </div>
        </div>
        <div class="menu-section">
            <span id="enrolled">Enrolled</span>
            <div class="menu-pages">
                <div class="menu-titles">
                    <i class="fa-solid fa-clipboard-check menu-icons" style="color: #696969;"></i>
                </div>
                <h4>To-do</h4>
            </div>
        </div>
        <div class="menu-section">
            <div class="menu-pages">
                <div class="menu-titles">
                    <i class="fa-solid fa-box-archive menu-icons" style="color: #5e5e5e;"></i>
                </div>
                <h4>Archived Classes</h4>
            </div>

            <a href="./profile_edit.html">
                <div class="menu-pages">
                    <div class="menu-titles">
                        <i class="fa-solid fa-gear menu-icons" style="color: #5e5e5e;"></i>
                    </div>
                    <h4>Settings</h4>
                </div>
            </a>
        </div>
    </div>

    <header>
        <div class="header-titles">
            <div class="header-icon-container">
                <i class="fa-solid fa-clipboard-check header-icons"></i>
            </div>
            <h4>To-do</h4>
        </div>
        <div class="header-titles">
            <div class="header-icon-container">
                <i class="fa-regular fa-calendar header-icons"></i>
            </div>
            <h4>Calendar</h4>
        </div>
    </header>

    <div class="home-content">

        <ol>
            <li>
                <a href="./teacher_stream.html">

                    <div class="card-head">
                        <div class="text">

                            <div class="card-title">
                                <h2>Class Title </h2>
                                <span> class info</span>
                            </div>
                            <span class="card-title">department</span>
                        </div>
                        <div class="card-icon-container">
                            <i class="fa-solid fa-ellipsis-vertical card-menu-icon" style="color: #ffffff;"></i>
                        </div>

                    </div>
                </a>

                <div class="card-body">
                    <div class="due">
                        <h4>Due Wednesday</h4>
                        <a href="#">10:00 AM - Google_Classroom... </a>
                    </div>
                    <img src="../assets/user.png" alt="user pic">
                </div>
                <div class="card-footer">

                    <div class="card-icon-container">
                        <i class="fa-regular fa-id-badge card-footer-icon" style="color: #383838;"></i>
                    </div>

                    <div class="card-icon-container">
                        <i class="fa-regular fa-folder-closed card-footer-icon" style="color: #242424;"></i>
                    </div>

                </div>
            </li>

        </ol>
    </div>
    <div id="create_class_modal" class="create-class-modal">
        <div id="create_class_content" class="create-class-content">
            <h3 class="header-class">Create Class</h3>
            <div class="new-class-info">
                <form id="new-class-info-form">
                    <input type="text" id="class_name" class="input-field" placeholder="Class name (required)">
                    <input type="text" id="class_section" class="input-field" placeholder="Section">
                    <input type="text" id="subject" class="input-field" placeholder="Subject">
                    <input type="text" id="conf_pass" class="input-field" placeholder="Room">
                    <div class="btn-container">
                        <button id="cancel_btn" class="cancel-btn">Cancel</button>
                        <button id="create_btn" class="create-btn">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../sources/teacher.js"></script>
    <script src="../sources/script.js"></script>
    <script src="../sources/class.js"></script>
</body>

</html>