@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  line-height: 1.4286;
  min-height: 100vh;
}

.nav-title {
  color: #5f6368;
  font-family: "Product Sans", Arial, Helvetica, sans-serif;
  font-size: 1.38125rem;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  height: 2.5em;
  margin: 0 0.5em;
}

.icon:hover {
  padding: 1em;
  border-radius: 1.5em;
  background-color: #eae9e9;
  cursor: pointer;
}

#menu {
  font-size: 1.3em;
}

#plus {
  font-size: 1.3em;
}

#dots {
  width: 17px;
  height: 17px;
}

#pro-pic {
  width: 32px;
  height: 32px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
  z-index: 1;
  border-bottom: 1px solid rgb(188, 188, 188);
  position: sticky;
}

.google-logo {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: space-between;
}

.nav-left,
.nav-right {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

#side-menu {
  position: fixed;
  top: 0;
  display: none;
  flex-flow: column;
  width: 300px;
  height: 100%;
  background-color: #fffefe;
  border: 1pt rgb(214, 214, 214) solid;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
  z-index: 2;
}

#side-menu a {
  text-decoration: none;
}

.menu-section {
  border-bottom: 1pt rgb(196, 196, 196) solid;
  margin: 0 0 1em 0;
  padding: 0.2em 0;
  margin-left: 0;
}

#enrolled {
  padding: 1em 0 1em 1.5em;
  font-size: 0.95em;
  font-weight: 700;
  height: 1.5em;
  color: #5f6368;
}

.menu-pages {
  display: flex;
  align-items: center;
  margin-bottom: 0.3em;
  padding: 1em 0 1em 1.2em;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  cursor: pointer;
}

.menu-pages:hover {
  background-color: rgb(233, 233, 233);
}

.menu-titles {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.menu-pages h4 {
  letter-spacing: 0.01785714em;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #3c4043;
  margin-left: 2em;
}

.menu-icons {
  font-size: 1.35em;
}

header {
  display: flex;
  align-items: center;
  color: #2962ff;
  margin: 1em;
  padding: 0.5em;
}

.header-titles {
  display: flex;
  align-items: center;
  margin-right: 0.7em;
  margin-left: 0.1em;
  padding: 0 0.5em;
  cursor: pointer;
}

.header-titles:hover {
  background-color: #bdcefd;
  border-radius: 0.2em;
  color: #00599d;
}

.header-titles h4 {
  font-weight: 500;
}

.header-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  margin-right: 0.2em;
}

.content {
  margin: 2em;
}

ol {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

ol li {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font-size: 0.9em;
  height: 294px;
  width: 300px;
  border-radius: 1em;
}

ol li:hover {
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
}

li a {
  text-decoration: none;
}

.card-head {
  display: flex;
  justify-content: space-between;
  background-color: #3e3e3e;
  color: #fff;
  padding: 1em 0.5em 0.4em 1em;
  height: 100px;
  width: 300px;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.card-body {
  border-left: 1pt solid rgb(212, 212, 212);
  border-right: 1pt solid rgb(212, 212, 212);
  display: flex;
  padding: 1em 0.5em 0.4em 1em;
  height: 137px;
  justify-content: space-between;
  width: 300px;
}

.card-footer {
  border: 1pt solid rgb(212, 212, 212);
  display: flex;
  justify-content: flex-end;
  height: 57px;
  padding-right: 0.5em;
  padding-top: 0.2em;
  width: 300px;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.card-title:hover {
  text-decoration: underline;
}

.text h2 {
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.due h4 {
  color: rgba(0, 0, 0, 0.549);
  font-weight: 500;
}

.due a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.due a:hover {
  text-decoration: underline;
  color: #2962ff;
}

.card-icon-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  width: 50px;
  height: 50px;
}

.card-footer .card-icon-container:hover {
  border-radius: 1.5em;
  background-color: #eae9e9;
  cursor: pointer;
}

.card-footer-icon {
  font-size: 1.2em;
}

li img {
  position: relative;
  float: right;
  border-radius: 50%;
  margin-top: -4em;
  margin-right: 0.5em;
  height: 4.6875rem;
  width: 4.6875rem;
}
