* {
  margin: 0;
  padding: 0;
  font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  line-height: 1.4286;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e8e3e3;
}

.container {
  background: #fff;
  padding: 3em;
  margin: 3em;
  width: 27em;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 1pt rgb(123, 123, 123) solid;
  border-radius: 0.6em;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
}

.form-header {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 8em;
}

.form-header img {
  width: 7em;
  height: 4em;
}

form {
  display: flex;
  flex-flow: column;
  margin: 2em 0;
  width: 18em;
}

.label-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0;
}

input {
  width: 60%;
  padding: 0.7em 1.2em;
  border: 1px solid #fff;
  border-radius: 1.1em;
  outline: solid rgb(10, 150, 5);
}

input:focus {
  background-color: #e6fcdf;
}

label {
  font-size: 1em;
  font-weight: 600;
}

button {
  border: none;
  border-radius: 0.5em;
  background-color: rgb(10, 150, 5);
  color: white;
  font-weight: 800;
  padding: 0.7em 1em;
  cursor: pointer;
}

button:hover {
  background-color: rgb(14, 247, 6);
}

.bottom-form {
  margin-top: 1.5em;
  width: 18em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(10, 150, 5);
  font-weight: 800;
  margin: 0.2em 0;
}

a:hover {
  color: rgb(14, 247, 6);
}
